.blogItem-wrap{
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8EA;
    border-radius: 10px;
    padding: 16px;
    justify-content: space-between;
}

.blogItem-cover{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
    border-bottom: 0.5rem;
}

.blogItem-wrap h4{
    /* margin: 0.5rem 0.1rem 0; */
    flex: 1;
}

.blogItem-body{
    margin: 16px;
}

.blogItem-desc{
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: 0.8rem;
    padding-right: 0.6rem;
    color: #a9a9a9;
}

.blogItem-desc::before{
    position: absolute;
    content: '...';
    bottom: 0;
    right:0;
}

.blogItem-wrap footer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}
.blogItem-wrap footer p{
    size: 16px;
    color: #97989F;
    margin: 0px;
}
.blogItem-link{
    color: inherit;
    text-decoration: none;
}

.blogItem-author{
    display: flex;
    align-items: center;
}

.blogItem-author img{
    width: 36px;
    height: 36px;
    border-radius: 28px;
    object-fit: cover;
    margin-right: 0.5rem;
}

.blogItem-author p{
    /* font-size: 0.6rem; */
    color: #a9a9a9;
    font-weight: 600;
}
.blogItem-author:hover{
    cursor: pointer;
}

.blogItem-author:hover p{
    color: var(--primary-color);
}
