/* @font-face {
    font-family: Poppins;
    src: url(sansation_light.woff);
  }
 */
.auth-wrapper{
    padding: 22px;
    display: flex;
}



.logo{
    padding: 10px;
}

.right-side{
    background-color: #000842;
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.right-side .phone{
    margin: 32px;
    margin-bottom: 0px;
    float: right;
    align-self: end;
}

.right-side .image img{
    height: 430px;
}

.right-side .image {
    align-self: center;
    margin: auto;
}

.auth-text{
    font-size: 40px;
    font-family: Poppins;
    margin: 75px 100px;
}