header.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.4s;
}

header.active{
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.logo{
    color: #B0C4DE;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}

.logo span{
    color: var(--primary-color);
}