header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.4s;
}

header.active {
    background-color: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #0f52ba;
    border-color: #0f52ba;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.logo {
    color: #B0C4DE;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.logo span {
    color: #0F52BA;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 33px;
    background-color: #151423;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    color: #B0C4DE;
    text-align: start;
    padding: 0px !important;

}

ul li {
    margin: 10px 0px !important;
}

h2 {
    list-style-type: none;
    color: white;
    text-align: start;
    padding: 0px !important;
    font-size: 24px !important;
    /* font-family: ; */
}

h1 {
    list-style-type: none;
    color: white;
    text-align: start;
    padding: 0px !important;
    font-size: 35px !important;
}

p {
    color: #B0C4DE;
    text-align: start;
    padding: 0px !important;
}

input {
    border: 1px solid #ccc;
    outline: none;
    padding: 0px 3px;
    margin-left: 0px !important;
    margin-right: 5px !important;
    border-radius: 3px;
}

button {
    border: none;
    border-radius: 3px !important;
    color: white;
    background-color: #0F52BA !important;
}

.footer-div-2 ul {
    margin: 0px !important;
}

.footer-div-2 li {
    padding: 15px;
}